// Colors
$primary: #00bcd4;
$primary-dark: darken($primary, 10%);
$primary-light: lighten($primary, 20%);
$accent: #a6206a;
$accent-sec: #ec1c4b;
$accent-ter: #f16a43;
$accent-qua: #f7d969;

$gray: #727272;
$gray-dark: #5a5050;
$gray-light: #d7d7dd;

$white: #fff;
$white-opacity: rgba(#fff, 0.54);

$text: $gray-dark;
$error: $accent-sec;

// Media queries breakpoints
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-lg-desktop: 1200px;

.add-note {
	background-color: $accent-sec;
	height: 2em;
	margin-bottom: 1em;
	margin-left: 1em;
	padding: 0 1em;

	&:hover,
	&:focus {
		background-color: darken($accent-sec, 20%);
	}
}

.notes-list {
	list-style-type: none;
	padding: 0 1em;
}

.note {
	// background-image: url('./drag-pattern.png');
	background-position: left center;
	background-repeat: no-repeat;
	border-left: 2px solid $primary;
	cursor: move;
	margin: 0.725em 0;
	padding: 0.5em 1em;
	position: relative;

	input {
		border-bottom: 2px solid rgba(0, 0, 0, 0);
		cursor: text;
	}

	.editing {
		border-bottom: 2px solid $accent;
	}

	.delete {
		color: rgba($gray-dark, 0.3);
		cursor: pointer;
		font-size: 1rem;
		font-weight: 600;
		margin-left: 5px;
		position: absolute;
		right: 0;
		top: 0;
		vertical-align: sub;
	}
}
